body{
    margin: 0px;
    padding: 0px;
}

.topcontainer{
    min-height: 80vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.cardArea {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    gap: 10px;
    justify-content: center;
    align-items: start; /* Add this line */
}

/* .card{
    background-color: rgb(245, 245, 6);
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    overflow: hidden;
} */

.question{
    padding: 20px; /* Add padding for better spacing */
}

.question>p{
    padding: 10px
}
.answere{
    padding: 20px;
    padding-top: 0px;
}

.answere>p{
    padding: 10px
}
.add-card-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px; /* Adds some space between the add card section and the cards */
}

.new-question-input, .new-answer-input {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc; /* Example border */
    border-radius: 4px; /* Slightly rounded borders for the input fields */
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: auto; /* Push the buttons to the bottom */
}
